*, *:before, *:after {
  box-sizing: border-box;
}

.ePlayer {
  height: 80px;
  width: 80px;
  background-color: red;
  color: white;
}

.aPlayer {
  height: 80px;
  width: 80px;
  background-color: green;
  color: white;
}

.dPlayer {
  height: 80px;
  width: 80px;
  background-color: navy;
  color: white;
}

.gPlayer {
  height: 80px;
  width: 80px;
  background-color: black;
  color: white;
}
